{{#if books}}
<ul>
  {{#each books}}
  <li>
    <h3 class="name">{{name}}</h3>
    <p>{{author}}</p>
    <img src="{{thumbnail}}" alt="{{name}} cover">
  </li>
  {{/each}}
</ul>
{{else}}
<h2>You can login if you want to.</h2>
<br>
<p>Your favorite Books will appear here in the future.</p>
{{/if}}
